
target/test-classes/it/finanze/sanita/fse2/ms/edssrvdictionary/AbstractTest.class
*.class
.classpath
.factorypath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.springframework.ide.eclipse.prefs
target/classes/application-dev.properties
target/classes/application.properties
target/classes/logback-spring.xml
target/classes/LoincTableCore.csv
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/it.finanze.sanita.fse2/eds-srv-dictionary-ms/pom.properties
target/classes/META-INF/maven/it.finanze.sanita.fse2/eds-srv-dictionary-ms/pom.xml
target/classes/META-INF/sun-jaxb.episode
target/test-classes/application-test.properties
target/test-classes/Files/vocabulary/LoincTableCore.csv

.vscode/
